.movie__list__item {
  padding: 2em 0;
  .movie__list__item_poster {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
  }
  //---- main Head Title  ----//
  .movie__list__item__tittle {
    font-size: 2.5rem;
    color: $white;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  //---- describtion  ----//
  .movie__list__item__subtittle {
    font-size: 1.1rem;
    color: $lightWight;
    line-height: 1.5em;
    letter-spacing: 0.08em;
  }
  .movie__list__item__data__rate {
    align-items: center;
    justify-content: space-between;
    //---- date  ----//
    .movie__list__item__date {
      font-size: 1.4rem;
      color: $white;
      letter-spacing: 0.1em;
    }
    //---- rate  ----//
    .movie__list__item__rate {
      font-size: 1.5rem;
      color: $main;
      font-weight: bold;
      span {
        color: $white;
        font-size: 2rem;
        font-weight: normal;
      }
    }
  }
}
