.banner__main {
  display: flex;
  align-items: center;
  position: relative;
  height: 50vh; //<===  main Hight ===>//
  overflow: hidden;
  background-image: linear-gradient(
    to top right,
    rgba($blackBlack, 1),
    rgba($black, 0.2)
  );
  .container .row .col {
    color: $white;
    //---- tittle  ----//
    .tittle {
      font-weight: bold;
      font-size: 4rem;
      .heart__icon {
        font-size: 2rem;
        margin-left: 1em;
        color: rgba($white, 0.8);
      }
      .red {
        color: red;
      }
    }
    //---- description  ----//
    .overview {
      font-size: 1.2rem;
      line-height: 1.5em;
      letter-spacing: 0.04em;
      width: 65%;
    }
    .date__rate {
      //---- date  ----//
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .release_date {
        font-size: 1.2rem;
        letter-spacing: 0.2em;
      }
      //---- vote  ----//
      .vote_average {
        color: $main;
        background-color: rgba($color: #000000, $alpha: 0.8);
        padding: 0.5em 1em;
        border-radius: 0.25em;
        margin-right: 2em;
        font-size: 1rem;
        font-weight: bold;
        span {
          color: $white;
          font-size: 1.3rem;
          font-weight: normal;
        }
      }
    }
  }
  //---- poster img  ----//
  .banner__main_poster {
    position: absolute;
    filter: brightness(0.8);
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  //---- Buttons   ----//
  .btn__main_0,
  .btn__main_1 {
    padding: 0.8em 2em;
    transition: all 0.3s ease-out;
  }
  .fav {
    background: rgba(231, 31, 31, 0.6);
    color: $white;
    transition: all 0.3s ease-out;
  }
}

//----  swiper nav icons ----//
.mySwiper {
  .swiper-button-next,
  .swiper-button-prev {
    top: 90% !important;
  }

  .swiper-button-next::after {
    content: url("../../../../../src/assets/icons/R-arrow.svg") !important;
    content: "";
    transform: scale(0.4) translateX(-200%);
  }
  .swiper-button-prev::after {
    content: url("../../../../../src/assets/icons/R-arrow.svg") !important;
    content: "";
    transform: scale(0.4) translateX(200%) rotateY(180deg);
  }
}

@media screen and (max-width: 768px) {
  .banner__main {
    .tittle {
      font-size: 2rem !important;
    }
    .overview {
      font-size: 1rem !important;
      width: 85% !important;
    }
    .date__rate {
      .release_date {
        font-size: 1rem;
      }
      .vote_average {
        font-size: 0.8rem;
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
