.Header__main {
  background-color: $blackBlack;
  padding: 2em 0;
  display: flex;
  align-items: center;
  .container {
    position: relative;
  }
  //----  Logo part  ----//
  .logo__brand {
    color: $white;
    font-size: 2.5rem;
    font-weight: bold;
  }

  //----  Button__Sign_in & fav-icon part  ----//
  .btn__favIcon__main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn__main_0 {
      font-size: 1rem;
      padding: 0 1.5em;
      height: 3rem;
      margin-right: 0;
      border-radius: 1.5rem;
      font-weight: normal;
    }
    //----  fav__icon part  ----//
    .fav-icon-link {
      position: relative;
      display: flex;
      align-items: center;
      .fav-icon {
        display: flex;
        align-items: center;
        color: $lightWight;
        font-size: 2rem;
        span {
          font-size: 0.6rem;
          font-weight: bold;
          text-align: center;
          position: absolute;
          top: 20%;
          left: 60%;
          background-color: red;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
        }
      }
    }
  }

  //----  menu__icon part  ----//
  .navbar__menu_icon {
    cursor: pointer;
    position: absolute;
    font-size: 1.6rem;
    color: white;
    top: 0;
    left: 90%;
    transform: translate(0, -10%);
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .Header__main {
    .btn__main_0,
    .searchbar {
      display: none !important;
    }
    .navbar__menu_icon {
      display: block !important;
    }
    .fav-icon {
      margin-right: 2em;
    }
  }
}
