//----  nav__List part  ----//
.main__nav {
  .nav__list {
    justify-content: space-between;
    align-items: center;
    .nav__list_item {
      padding: 0;
      a {
        color: $white;
      }
    }
  }
  .btn__main_0,
  .btn__main_1 {
    margin: 0;
    border-radius: 0;
    padding: 1em 2.5em;
  }
  .btn__main_1 {
    background-color: $white;
  }
}
