//----  nav__List part  ----//
.main__nav {
  background-color: $blackBlack;
  padding: 2em 0;
  .nav__list {
    justify-content: space-between;
    align-items: center;
    .nav__list_item {
      padding: 0;
      .nav__link {
        color: $white;
        border-bottom: 0;
        transition: all 0.4s ease-out;
        &:hover {
          color: $main;
          padding-bottom: 0.5em;
          border-bottom: 0.1rem solid $main;
        }
      }
      .active {
        color: $main;
        padding-bottom: 0.5em;
        border-bottom: 0.1rem solid $main;
      }
    }
  }
  .btn__main_0,
  .btn__main_1 {
    margin: 0;
    border-radius: 0;
    padding: 1em 2.5em;
  }
  .btn__main_1 {
    background-color: $white;
  }
}
