.home__service {
  background-color: $black;
  padding: 5em 0;
  //---- img gallary ---//
  .service__gallary {
    padding-right: 1em;
    .service__gallary_image {
      background-position: bottom;
      background-size: cover;
      object-fit: cover;
      width: 100%;
    }
  }
  //--- service text  ----//
  .service__text {
    padding-left: 1em;
    color: $white;
    //--- subtittle  ----//
    .service__subtittle {
      color: $main;
      font-size: 1rem;
      display: flex;
      align-items: center;
      p {
        background-color: $main;
        width: 3rem;
        height: 0.1rem;
        margin: 0 1em 0 0;
      }
    }
    .subtittle__small {
      color: $white;
      text-transform: capitalize;
    }

    //--- TV Icons  ----//
    .service__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      border: 0.2rem solid $main;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      background-color: transparent;
      transition: all 0.5s ease;
      &:hover {
        background-color: $main;
        color: $black;
      }
    }
    //--- small tittle  ----//
    .service__small_tittle {
      font-size: 1.5rem;
    }
  }
}
