.movieDetails__bg {
  position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  background-color: rgba($main, $alpha: 0.8);
  height: 100%;
  width: 100%;
  z-index: 999;

  .col:nth-child(2) {
    color: $white;
  }
}
