.footer {
  background-color: $blackBlack;
  color: $white;
  padding: 5em 0;
  .logo__brand {
    font-size: 2rem;
  }
  .footer__nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
