.footer {
  background-color: $blackBlack;
  color: $white;
  padding: 5em 0 0 0;

  .footer__nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .line {
    margin-top: 1em;
  }
  .social__links_email {
    align-items: center;
    .footer__insta_head {
      font-size: 1.8rem;
    }
  }
  .insta__img {
    transition: all 0.3s ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  .footer__email,
  .footer__phone {
    color: $white;
    font-size: 1rem;
    font-weight: normal;
    span {
      color: $main;
      font-weight: bold;
      padding-right: 0.5em;
    }
  }
  //----  copyrights  ----//
  .copy__bg {
    background-color: $black;
    .copyrights {
      display: flex;
      justify-content: center;
      margin: 1.5em 0;
      font-size: 1rem;

      font-weight: normal;
      span {
        color: $main;
        padding: 0 0.2em;
        font-weight: bold;
      }
    }
  }
}
