.footer {
  background-color: $blackBlack;
  color: $white;
  padding: 5em 0 0 0;
  .logo__brand {
    font-size: 2rem;
  }
  .footer__nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .line {
    margin-top: 1em;
  }
  .social__links_email {
    align-items: center;
    .footer__email_contact {
      font-size: 1.5rem;
    }
  }
  //----  copyrights  ----//
  .copy__bg {
    background-color: $black;
    .copyrights {
      display: flex;
      justify-content: center;
      margin: 1.5em 0;
      font-size: 1rem;

      font-weight: normal;
      span {
        color: $main;
        padding: 0 0.2em;
        font-weight: bold;
      }
    }
  }
}
