.social__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .social-item {
    margin: 0.5em 1em 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $lightWight;
    background-color: $black;
    padding: 0.8rem;
    border: 0.05rem solid transparent;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: $main;
      background-color: transparent;
      border: 0.05rem solid $main;
    }
  }
}

@media screen and (max-width: 768px) {
  .social__list {
    justify-content: center !important;
    padding: 0 !important;
  }
}
