.trending__main {
  background-color: $blackBlack;
  padding: 2em 0;
  .swiper-slide {
    transition: all 0.5s ease-out;
    position: relative;
    height: 80vh;
    .wrapper {
      width: 100%;
      //---- poster img  ----//
      .trending__main_bg {
        height: 60vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 0.25em;
        z-index: -1;
      }
      //---- overlay BG  ----//
      .overlay {
        position: absolute;
        display: flex; //==>  Hover  <==//
        opacity: 0; //==> opacity 0
        transform: translateY(-50%);
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 2em;
        background-color: rgba($black, $alpha: 0.6);
        height: 60vh;
        width: 100%;
        transition: all 0.3s ease-out;
      }
      //---- poster Tittle  ----//
      .poster__tittle {
        position: absolute;
        top: 0;
        margin-top: 2em;
        padding: 0 1.5em;
        font-size: 1.8rem;
        text-align: center;
        color: $white;
      }
      .poster__wrappper_footer {
        transform: translateY(80%);
        transition: all 0.5s ease-out;
      }
      .poster__date_rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;

        //---- poster Date  ----//
        .poster__date {
          color: $white;
        }
        //---- poster Rate  ----//
        .poster__rate {
          color: $main;
          background-color: rgba($black, $alpha: 0.8);
          padding: 0.5em 1em;
          border-radius: 0.25em;
          font-weight: bold;
          span {
            color: $white;
            font-size: 0.9rem;
            font-weight: normal;
          }
        }
      }
      //---- poster button  ----//
      .btn__main_0 {
        height: 4rem;
        width: 100%;
        font-size: 1rem;
      }
    }
  }

  //---- Hover  ----//

  .swiper-slide:hover {
    .overlay {
      opacity: 1;
      transform: translateY(0);
    }
    .poster__wrappper_footer {
      transform: translateY(0);
    }
  }
  //---- Swiper pagination  ----//
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: $white;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 16px;
      border-radius: 30%;
      background-color: $main;
    }
  }
}
